# Python Basics - Part 2

## If-else statement

`if-else` statements allow to run different sets of statements based on a set of alternatives.

In [13]:
# print the parity of a given number
n = 47
if n%2 == 0:
    print(f"{n} is an even number")
else:
    print(f"{p} is an odd number")

47 is an odd number

In [16]:
# print a number only if it's multiple of 2 or 3
n = 6
if n%2 == 0 or n%3 == 0:
    print(n)
else:
    # do nothing
    pass

6

We use `elif` to handle more than two statements:

In [19]:
# compute the square of a number if its even, its cube if its divisible by 3,
# otherwise the starting number 
n = 6

if n%2 == 0:
    print(n**2)
elif n%3 == 0:
    print(n**3)
else:
    print(n)

36

## For loop

The `for` loop goes through items of an iterable object.
It behaves differently according to the data/container type on which we iterate.

### Iterating over a list

In [24]:
l = [1, 4, "Aarhus", 29]
# print all the elements of the list
for elem in l:
    print(elem)

1
4
Aarhus
29

#### enumerate

What if, in the previous example, we also want to print the indexes of the items of the list? We can use the method `enumerate()`:

In [25]:
# basic example (note that enumerate returns an iterator)
print(list(enumerate(l)))

[(0, 1), (1, 4), (2, 'Aarhus'), (3, 29)]

In [26]:
for index, elem in enumerate(l):
    print(f"The {index}-element of the list is {elem}")

The 0-element of the list is 1
The 1-element of the list is 4
The 2-element of the list is Aarhus
The 3-element of the list is 29

### Iterating over a tuple

In [27]:
# same as for lists
t = (1,2,3)
for elem in t:
    print(elem)

1
2
3

### Iterating over a dictionary

In [28]:
d = {"key1": 1, "key2":2, "key3": 3}
# loops over the keys of the dictionary
for key in d:
    print(key)

key1
key2
key3

In [29]:
# loop over the key:value pairs
for key, value in d.items():
    print(f"The key {key} contains the value {value}")

The key key1 contains the value 1
The key key2 contains the value 2
The key key3 contains the value 3

In [30]:
# loop over the values
for value in d.values():
    print(value)

1
2
3

### Iterating over a string

In [31]:
s = "Aarhus"
for letter in s:
    print(letter)

A
a
r
h
u
s

### List comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [32]:
# one line code to build the "square list" of a given list
l = [1,2,3,4,5]
l_square = [i**2 for i in l]
l_square

[1, 4, 9, 16, 25]

In [33]:
# list of squares of even-indexed terms and cubes of odd-indexed terms
l = [1,2,3,4,5]
l_mix = [i**2 if index%2 == 0 else i**3 for index, i in enumerate(l)]
l_mix

[1, 8, 9, 64, 25]

## While loop

A while statement repeatedly executes a single statement or a group of statements, as long as the condition is true.

In [34]:
x = 0

while x < 10:
    print(f"x={x}")
    print(f"Since {x}<10, update x")
    x+=1

x=0
Since 0<10, update x
x=1
Since 1<10, update x
x=2
Since 2<10, update x
x=3
Since 3<10, update x
x=4
Since 4<10, update x
x=5
Since 5<10, update x
x=6
Since 6<10, update x
x=7
Since 7<10, update x
x=8
Since 8<10, update x
x=9
Since 9<10, update x

### Break and continue

The `break` statement exits the current loop. The `continue` statement executes the next iteration of the loop, while skipping the rest of the code for the current iteration.

In [35]:
x = 0

while x < 10:
    print(f"x={x}")
    print(f"Since {x}<10, update x")
    x+=1
    if x==3:
        print("Break! x=3")
        break
    else:
        print('Go on')
        continue

x=0
Since 0<10, update x
Go on
x=1
Since 1<10, update x
Go on
x=2
Since 2<10, update x
Break! x=3

## Functions

A function groups together a set of statements (helps to reuse code and reduce redundancy). It takes arguments as inputs and may return values/objects and/or modify the inputs.

In [36]:
# a function that computes the square of a number
def square(num):
    # indentation is CRUCIAL to define the body of the function
    square_num = num**2
    return square_num

In [37]:
n = 5
# Passing arguments by name (keyword arguments)
print(square(num=n))
# Passing arguments following their order in the function definition (non-keyword arguments)
print(square(n))

25
25

Pay attention: all the keyword arguments must be after all the non-keyword arguments. Moreover the arguments' order matters only for non-keyword arguments.

In [38]:
def div(a, b):
    return a/b

In [39]:
a = 5
b = 6
# WRONG
div(a = a, b)

SyntaxError: positional argument follows keyword argument (1113319494.py, line 4)

In [40]:
# correct
a = 5
b = 6
div(a=a, b=b)

0.8333333333333334

In [41]:
# also correct (order does not matter for keyword arguments)
a = 5
b = 6
div(b=b, a=a)

0.8333333333333334

In [42]:
# also correct (non-keyword arguments, passed in the right order)
a = 5
b = 6
div(a, b)

0.8333333333333334

We can define *default* values for the arguments of a function:

In [43]:
def multiply(a,b=2):
    return a*b

In [44]:
print(f"using default value for b: {multiply(5)}")
print(f"overriding default value for b: {multiply(5,7)}")

using default value for b: 10
overriding default value for b: 35

### map function

`map` applies a given function to an iterable object and returns an iterator.

In [45]:
# apply square() to a list
l = [1,2,3,4]
map(square, l)

In [46]:
# to get the result we need to cast the previous object into a list
list(map(square, l))

[1, 4, 9, 16]

### lambda expression

This tool allow us to create anonymous functions, i.e. functions without the typical def statement.

In [47]:
# create the function square() as a lambda expression (callable)
square_lambda = lambda num: num**2
square_lambda(5)

25

In [6]:
# one-line code for the square of a given list
l = [1,2,3,4]
list(map(lambda num: num**2, l))

[1, 4, 9, 16]

### `*args` and `**kwargs`

These keywords allow to define functions with a variable number of arguments.

In [49]:
# compute the squared sum of the items of a tuple with variable length
def sum_squared(*args):
    # args is a tuple!
    return sum(args)**2

In [50]:
print(f"4 arguments: {sum_squared(1,2,3,4)}")
print(f"6 arguments: {sum_squared(1,2,3,4,5,6)}")
print(f"8 arguments: {sum_squared(1,2,3,4,5,6,7,8)}")

4 arguments: 100
6 arguments: 441
8 arguments: 1296

Hence, `*args` allows to handle multiple non-keyword arguments. 
Instead, to handle multiple keyword arguments, we use `**kwargs`.

In [23]:
def presentation(**kwargs):
    # kwargs is a dictionary!
    for key,value in kwargs.items():
        print(f"My {key} is {value}.")

In [25]:
presentation(name = "Mickey", surname="Mouse", age=94, email ="unknown")

My name is Mickey.
My surname is Mouse.
My age is 94.
My email is unknown.

## Imports

Python is a very widespread programming language, hence there are many libraries available.
To use an installed library we have to `import` it.

In [52]:
# import the full library
import math

In [54]:
# compute the sine of a number
math.sin(math.pi)

1.2246467991473532e-16

In [57]:
# import only some functions of the library
from math import sin, pi

In [56]:
sin(pi)

1.2246467991473532e-16