# Python Basics - Part 1

## Hello world!

To print "Hello world!" using `python`, we just need to call the function `print()` with the string `"Hello world!"`

In [14]:
print("Hello world!")

Hello world!

## Basic math and variables

### Basic operations

Basic mathematical operations can be performed between values of the **same** type (e.g. `int`, `float`, `boolean`, `str`).

In [22]:
# Sum (by the way, this is how to comment stuff in python :))
2 + 2

4

In [31]:
# Subtraction
8 - 3

5

In [30]:
# Multiplication
3.5 * 4.0

14.0

In [32]:
# Division between floats
4.5 / 1.5

3.0

In [7]:
# Division between integers
4 / 3

1.3333333333333333

In [34]:
# Modulo operation
5 % 3

2

In [1]:
# Power
5 ** 3

125

In [26]:
# concatenation of string 
"pippo" + "pluto"

'pippopluto'

In [27]:
# different types -> casting or errors
"pippo" + 2

TypeError: can only concatenate str (not "int") to str

In [33]:
# in this case True is a bool and it is converted to the int 1.
2 + True

3

In [2]:
# Division between a float and an int
4.0 / 2

2.0

### Variables and types

A variable is a container for storing data. A variable is created the moment we assign a value to it. For example:

In [36]:
x = 2
x

2

Once we assign to a variable a value, we can perform operations

In [37]:
x + x

4

To define $2$ as a `float` we put a dot next to it

In [7]:
x = 2.

The command `type()` returns the type of a variable. We can transform a `float` into an `int` using the command `int()`

In [15]:
type(x)

float

In [16]:
type(int(x))

int

## Comparison operators

### Equal

In [1]:
5 == 4

False

In [2]:
4 == 4

True

In [8]:
4 == 4.

True

### Not equal

In [3]:
5 != 4

True

### Greater than/greater than or equal to

In [4]:
5 > 4

True

In [5]:
5 >= 4

True

##### Less than/greater than or equal to

In [6]:
5 < 4

False

In [7]:
5 <= 4

False

## Containers

As the name suggests, a container is an object that stores multiple items (possibly having different *types*) in a single variable. There are $4$ built-in containers in `python`: lists, tuples, dictionaries and sets.

### Lists

List items are *ordered*, *mutable*, and allow duplicate values.

In [51]:
# definition of a list storing variables of different types
l = [1, False, "Aarhus", 15, 24]
l

[1, False, 'Aarhus', 15, 24]

In [52]:
# get the first element of a list 
l[0]

1

In [53]:
# length of a list = number of its elements
len(l)

5

Let's see some easy tricks :)

In [89]:
# last element
l[-1]

24

In [90]:
# the list l without the first element
l[1:]

[False, 'Aarhus', 15, 24]

In [91]:
# the list l without the last element
l[:-1]

[1, False, 'Aarhus', 15]

In [92]:
# get even-indexed elements
l[::2]

[1, 'Aarhus', 24]

In [93]:
# reverse a list
l[::-1]

[24, 15, 'Aarhus', False, 1]

We can also define list of lists

In [94]:
ll = [l, l[1:]]
ll

[[1, False, 'Aarhus', 15, 24], [False, 'Aarhus', 15, 24]]

Be careful with indices: what is `ll[0][::2]`?

#### Basic list methods

In [73]:
# add to the end
l.append("pluto")
l

[1, False, 'Aarhus', 15, 24, 'pluto']

In [77]:
# alternative to append (as we did for the strings)
l + ["pluto"]

[1, False, 'Aarhus', 15, 24, 'pluto', 'pluto']

In [79]:
# removes item 0 from the list
l.pop(0)

1

In [80]:
# repeats the list twice (equivalent to l + l)
l*2

[False, 'Aarhus', 15, 24, False, 'Aarhus', 15, 24]

### Tuples

Tuples are similar to lists, but they are *immutable*.

In [9]:
# definition of a tuple
t = (1, 2, "data science")
t

(1, 2, 'data science')

In [10]:
# immutability
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [10]:
# definition of a tuple containing only one element.
# The final "," is CRUCIAL
t_1 = (1,)
t_2 = (1)
print(f"t_1: {t_1}")
print(f"t_2: {t_2}")
print(f"t_1 type: {type(t_1)}")
print(f"t_2 type: {type(t_2)}")

t_1: (1,)
t_2: 1
t_1 type: <class 'tuple'>
t_2 type: <class 'int'>

In [8]:
# length of a tuple
len(t)

3

In [11]:
# slicing as lists
t[-1]

'data science'

#### Basic tuple methods

In [11]:
# get the index of a given item
t.index(1)

0

In [12]:
t.index('data science')

2

In [13]:
# count number of occurrencies of a given item
t.count(1)

1

### Dictionaries

Dictionaries are containers that store data values in key:value pairs.
They are *mutable* and *do not* allow duplicates.

In [14]:
# definition of a dictionary
d = {"key_1": 1, "key_2": 2, "key_3": "Aarhus"}
d

{'key_1': 1, 'key_2': 2, 'key_3': 'Aarhus'}

In [15]:
# returns the value associated to a key
d["key_2"]

2

In [16]:
# change the value of a key
d["key_3"] = [1,2,3]
d

{'key_1': 1, 'key_2': 2, 'key_3': [1, 2, 3]}

In [17]:
# create new keys by assignment
d["key_4"] = (1,2,3)
d

{'key_1': 1, 'key_2': 2, 'key_3': [1, 2, 3], 'key_4': (1, 2, 3)}

#### Basic dictionaries methods

In [24]:
# get the keys of a dictionary
d.keys()

dict_keys(['key_1', 'key_2', 'key_3', 'key_4'])

In [20]:
# get the values of a dictionary
d.values()

dict_values([1, 2, [1, 2, 3], (1, 2, 3)])

### Sets

Sets are *unordered* collections of *unique* and *immutable* elements

In [28]:
# empty set
s = set()

In [23]:
# creating a set of integers
s = {1,2,3}

In [32]:
# add elements to a set
s.add(1)
s

{1}

In [33]:
s.add(2)
s

{1, 2}

In [35]:
# immutability
s[0]

TypeError: 'set' object is not subscriptable

In [36]:
# from list to set
l = [1,2,3]
set(l)

{1, 2, 3}

## Formatted output

You can use `%s` to inject strings into your print statements.

In [2]:
print("I'm going to add %s here." %'something')

I'm going to add something here.

In [3]:
print("I wrote %s notebook today." %1)

I wrote 1 notebook today.

A better way to format objects into your strings for print statements is with the string `.format()` method.

In [4]:
print("I'm going to add {} here.".format('something'))

I'm going to add something here.

Through f-strings (introduced in Python 3.6) you can bring outside variables immediately into to the string rather than pass them as arguments

In [6]:
name = "something"
print(f"I'm going to add {name} here.")

I'm going to add something here.

## Useful operators

### `range()`

In [24]:
# integers from 0 to 9
a = range(10)
print(a)
# a is only a generator -> we have to convert it to a list to actually see its items
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# integers from 1 to 10
a = range(1, 11)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
# even integers from 1 to 10
a = range(2, 12, 2)
print(list(a))

[2, 4, 6, 8, 10]