# Python Basics - Part 1

Additional reference: the Python tutorial (https://docs.python.org/3/tutorial/index.html).

## Hello world!

To print strings in `python`, we just need to call the function `print()` with the string as an argument:

In [1]:
# Use Shift+Enter to execute this cell
print("Hello world!")

Hello world!

## Basic math and variables

### Basic operations

Basic mathematical operations can be performed between values of the **same** type (e.g. `int`, `float`, `boolean`, `str`).

In [69]:
# Sum between integers (notice the hashtag: this is how you write comments in Python)
2 + 2

4

In [3]:
# Subtraction between integers
8 - 3

5

In [4]:
# Multiplication between floats
3.5 * 4.0

14.0

In [5]:
# Division between floats
4.5 / 1.5

3.0

In [6]:
# Division between integers (result is a float, by default)
4 / 2

2.0

In [7]:
# Division between a float and an int (result is a float, by default, 
# i.e. the int value is automatically converted into a float)
4.0 / 2

2.0

In [8]:
# Floored division: the result is an int, by default, if the operands are integers.
4 // 2

2

In [9]:
# If the operands are floats, the result is a float, rounded.
4. // 3.

1.0

In [10]:
# Modulo operation (remainder of the division)
5 % 3

2

In [11]:
# Power
5 ** 3.0

125.0

In [12]:
# Concatenation of strings
"Hello" + "World"

'HelloWorld'

In [13]:
# Different types -> casting (if possible) or error
"Hello" + 2

TypeError: can only concatenate str (not "int") to str

In [14]:
# In this case True is a boolean and it is converted (casted) into the 1 (integer).
2 + True

3

### Variables and types

A variable is a container for storing data. A variable is created the moment we assign a value to it. For example:

In [15]:
x = 2
x

2

Shorthand for increment and assignment (to update a numerical variable):

In [16]:
# Execute this cell multiple times to see how the value of x changes
x += 2
x

4

To define $2$ as a `float`, we add a dot next to the integer part:

In [17]:
x = 2.

The function `type()` returns the type of a variable:

In [18]:
type(x)

float

We can transform a `float` into an `int` using the function `int()`:

In [19]:
type(int(x))

int

## Comparison operators

Value comparison operators compare the values of two objects and return a boolean: `True` or `False`. The objects do not need to have the same type.

### Equal

In [72]:
5 == 4

False

In [74]:
4 == 4

True

In [75]:
4 == 4.

True

### Not equal

In [23]:
5 != 4

True

### Greater than/greater than or equal to

In [24]:
5 > 4

True

In [25]:
5 >= 4

True

### Less than/greater than or equal to

In [26]:
5 < 4

False

In [27]:
5 <= 5

True

## Containers

As the name suggests, a container is an object that stores multiple items (possibly having different *types*) in a single variable. There are 4 built-in containers in `Python`: _lists_, _tuples_, _dictionaries_ and _sets_.

### Lists

List items are *ordered*, *mutable*, and allow duplicate values.

In [79]:
# Definition of a list storing variables of different types (notice square brackets)
l = [1, False, "Aarhus", 15, 24]
l

[1, False, 'Aarhus', 15, 24]

In [80]:
# Get the first element of a list 
l[0]

1

In [81]:
# Length of a list = number of its elements
len(l)

5

In [82]:
# Last element
l[-1]

24

**Slicing**: accessing a portion of the elements in a list. It follows the general format: lst[initial_index:final_index:step]. If _step_ is omitted, it is assumed to be 1 (no elements of the list are skipped). If `initial_index` or `final_index` are omitted, they are assumed to be equal to the first and the last element of the list, respectively. _The element corresponding to the final index is excluded from the slice, while the initial index is included_.

In [85]:
# The list without the first element (omitting final index and step)
l[1:]

[False, 'Aarhus', 15, 24]

In [91]:
# This slice is equivalent to the previous one, without omitted indices
l[1:5:1]

[False, 'Aarhus', 15, 24]

In [33]:
# The list without the last element (notice that the final index is excluded from the slice)
l[:-1]

[1, False, 'Aarhus', 15]

In [34]:
# Get even-indexed elements (omitting initial and final indices)
l[::2]

[1, 'Aarhus', 24]

In [35]:
# Reverse a list
l[::-1]

[24, 15, 'Aarhus', False, 1]

We can also define lists of lists

In [36]:
ll = [l, l[1:]]
ll

[[1, False, 'Aarhus', 15, 24], [False, 'Aarhus', 15, 24]]

Be careful with indices: what is `ll[0][::2]`?

#### Basic list methods

In [37]:
# Append method (the list is modified in-place, no need to assign the result to l)
l.append("pluto")
# Print the updated list
l

[1, False, 'Aarhus', 15, 24, 'pluto']

In [38]:
# Alternative to append: concatenation using the add operator (as we did for strings)
l + ["pluto"]

[1, False, 'Aarhus', 15, 24, 'pluto', 'pluto']

In [39]:
# Removes and element from the list and returns it
l.pop(0)

1

In [40]:
# Repeats the list twice (equivalent to l + l)
l*2

[False, 'Aarhus', 15, 24, 'pluto', False, 'Aarhus', 15, 24, 'pluto']

### Tuples

Tuples are similar to lists, but they are *immutable*.

In [41]:
# Definition of a tuple (notice the parentheses)
t = (1, 2, "data science")
t

(1, 2, 'data science')

In [42]:
# Immutability: trying to change an element causes an error
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [43]:
# Definition of a tuple containing a single element (beware the comma at the end!):
t_1 = (1,)
t_2 = (1) # this is just an int, not a list
print(t_1, type(t_1))
print(t_2, type(t_2))

(1,) <class 'tuple'>
1 <class 'int'>

In [44]:
# Length of a tuple
len(t)

3

In [45]:
# Slicing works as for lists
t[-1]

'data science'

#### Basic tuple methods

In [46]:
# Get the index of a given item
t.index(1)

0

In [47]:
t.index('data science')

2

In [48]:
# Count number of occurrencies of a given item
t.count(1)

1

### Dictionaries

Dictionaries are containers that store data values in key:value pairs.
They are *mutable* and *do not* allow for duplicates.

In [49]:
# Definition of a dictionary
d = {"key_1": 1, "key_2": 2, "key_3": "Aarhus"}
d

{'key_1': 1, 'key_2': 2, 'key_3': 'Aarhus'}

In [50]:
# Returns the value associated to a key
d["key_2"]

2

In [51]:
# Change the value of a key
d["key_3"] = [1,2,3]
d

{'key_1': 1, 'key_2': 2, 'key_3': [1, 2, 3]}

In [52]:
# Create a new key by assignment
d["key_4"] = (1,2,3)
d

{'key_1': 1, 'key_2': 2, 'key_3': [1, 2, 3], 'key_4': (1, 2, 3)}

#### Basic dictionary methods

In [53]:
# Get the keys of a dictionary
d.keys()

dict_keys(['key_1', 'key_2', 'key_3', 'key_4'])

In [54]:
# Get the values of a dictionary
d.values()

dict_values([1, 2, [1, 2, 3], (1, 2, 3)])

### Sets

Sets are *unordered* collections of *unique* and *immutable* elements.

In [56]:
# Creating a set of integers (notice curly braces)
s = {1,2,3}

In [57]:
# Add an element to a set
s.add(5)
s

{1, 2, 3, 5}

In [58]:
s.add(2) # already exists, doesn't do anything
s

{1, 2, 3, 5}

In [59]:
# Immutability
s[0]

TypeError: 'set' object is not subscriptable

In [60]:
# From list to set
l = [1,2,3]
set(l)

{1, 2, 3}

## Formatted output

You can use the placeholder `%s` to inject strings into print statements.

In [61]:
print("I'm going to add %s here." %'something')

I'm going to add something here.

In [62]:
print("I wrote %s notebook today." %1)

I wrote 1 notebook today.

A better way of formatting output is to use the `.format()` method:

In [63]:
print("I'm going to add {} here.".format('something')) # notice curly braces as placeholder

I'm going to add something here.

Through the so-called `f-strings`, you can use variables immediately into to the string, rather than passing them as arguments to the `print` function.

In [65]:
name = "something"
print(f"I'm going to add {name} here.")

I'm going to add something here.

## Useful functions

### `range()`

The `range` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number. It is particularly useful in `for` loops.

In [66]:
# Integers from 0 to 9
a = range(10)
print(a)
# a is only a generator -> we have to convert it to a list to actually see its items
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
# Integers from 1 to 10
a = range(1, 11)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
# Even integers from 1 to 10
a = range(2, 12, 2)
print(list(a))

[2, 4, 6, 8, 10]